* {
    margin: 0;
    padding: 0
}

body {
    box-sizing: border-box
}

html {
    font-size: 20px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-decoration: none
}

/* ----------------------------loading---------------------------------*/

.loading {
    z-index: 20000000;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030013;
}

.loading .circle {
    width: 200px;
    height: 200px;
    background-color: #DA4453;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    overflow: hidden;
    display: block;
}

.loading .circle::before {
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 40%;
    background-color: #fff;
    position: absolute;
    bottom: 100px;
    left: -50px;
    animation: loading 3s infinite;
}

.loading .circle::after {
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 35%;
    background-color: #ffffff60;
    position: absolute;
    bottom: 100px;
    left: -50px;
    animation: loading 3s linear infinite;
}
.loading span{
    position: absolute;
    top: 370px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px rgb(236, 29, 109);
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* --------------------------------------------------------------------*/

.header {
    background-image: linear-gradient(rgb(0, 0, 0 , 0.5),rgb(0, 0, 0 , 0.5));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative
}

/* --------------------------------------------------- */
.header__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header__control {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    user-select: none;
}

.header__control>* {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.header__control i {
    font-size: 35px;
}

/* ----------------------------------------------------- */
.header-title-buttons {
    padding: 10px;
    width: 80%;
    min-width: 450px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header-title-button-break {
    display: none
}

.header-title {
    margin-bottom: 30px;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase
}

.btn-1,
.btn-2 {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #006175 0, #00a950 100%);
    border-radius: 50px;
    padding: 13px 3px;
    margin-right: 20px
}

.btn-1:hover {
    background-image: linear-gradient(to right, #005364 0, #008740 100%)
}

.btn-1-span,
.btn-2-span {
    padding: 10px 30px;
    border-radius: 60px;
    color: #00a84f;
    font-size: 120%
}

.btn-1-span {
    background-color: transparent;
    color: #fff
}

.btn-2-span {
    background-color: rgba(0, 0, 0, .9)
}

.btn-2-span:hover {
    transition: background .5s ease, color .5s ease;
    background: 0 0;
    color: #fff
}

.nav-bar {
    margin: 0
}

.logo-div {
    display: inline-block;
    float: left;
    margin-left: 15px;
    padding: 5px 15px
}

.logo-div img {
    width: 130px;
    height: auto
}

.nav-bar nav {
    float: right;
    margin: 35px 40px auto auto
}

@media (max-width:810px) {
    .nav-bar nav {
        margin-top: 20px;
        margin-right: 0
    }
}

.nav-bar nav ul {
    list-style-type: none;
    padding: 10px
}

.nav-bar nav ul li {
    display: inline-block;
    margin-right: 30px
}

.nav-bar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom .3s
}

.nav-bar nav ul li a:hover {
    border-bottom: 3px solid red;
    width: auto
}

.mobile-nav {
    color: #fff;
    cursor: pointer;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
    display: none
}

.js-nav-icon-cross {
    display: none
}

.sticky {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 2px #eee
}

.sticky nav {
    margin-top: 10px
}

.sticky .mobile-nav {
    margin-top: 8px;
    margin-right: 15px
}

.sticky .mobile-nav ion-icon {
    color: #262626;
    margin: 0
}

.sticky nav ul li {
    padding-bottom: 0
}

.sticky nav ul li a {
    color: #262626;
    font-size: 95%;
    padding-top: 0;
    padding-bottom: 18px
}

.sticky .logo-div {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5%
}

.sticky .logo-div img {
    width: 60px;
    height: 60px;
    transform: scale(1.2)
}

.js-nav-icon-cross {
    display: none
}

.features {
    margin: 0;
    padding: 20px
}

.feature-header {
    display: block;
    box-sizing: border-box;
    text-align: justify;
    width: 98%;
    margin: 55px auto 30px;
    max-width: 1400px;
    min-width: 400px
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto auto;
    max-width: 1400px
}

.flexbox-item {
    display: inline-block;
    width: 280px;
    margin: 30px 10px;
    min-width: 200px;
    text-align: justify
}

@media(max-width:700px) {
    .flexbox-item {
        flex-grow: 1;
        width: 80%
    }
}

@media(min-width:1390px) {
    .flexbox-item {
        flex-grow: 1
    }
}

@media(min-width:930px) and (max-width:1390px) {
    .flexbox-container {
        justify-content: space-between
    }
}

.features {
    background-color: #daf2dd;
    color: #262626;
    padding-bottom: 170px
}

.features h1 {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    display: block;
    font-size: 200%;
    margin: 0 auto
}

.features h1::after {
    display: block;
    content: " ";
    height: 4px;
    width: 130px;
    margin: 32px auto;
    background-image: linear-gradient(to right, #005364 0, #008740 100%);
    border-radius: 70%
}

.feature-header p {
    max-width: 850px;
    text-align: center;
    margin: auto
}

ion-icon {
    width: 50px;
    height: 50px;
    color: #fff;
    display: inline-block;
    float: left;
    margin: auto 15px 5px auto
}

.flexbox-item h3 {
    padding-top: 12px;
    font-size: 105%
}

.flexbox-item p {
    margin-top: 30px;
    line-height: 135%;
    font-size: 90%
}

.flexbox-item-3 {
    letter-spacing: normal
}

.flexbox-item {
    padding: 15px 10px;
    background-image: linear-gradient(to right, #005364dd 0, #008740dd 100%);
    border-radius: 5px;
    color: #a8ffd1;
    transition: background-image .2s;
    transition: background-image .2s linear
}

.flexbox-item:hover {
    background-image: linear-gradient(to right, #005364 0, #008740 100%)
}

.feature-image {
    margin: 0;
    padding: 0
}

.feature-image ul {
    list-style-type: none;
    width: 100%
}

.feature-image ul li {
    display: block;
    width: 25%;
    float: left
}

.feature-image ul li figure {
    background-image: linear-gradient(to right, #002229 0, #001f0f 100%);
    margin: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden
}

.feature-image ul li img {
    opacity: .6;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .3s ease, opacity .3s ease
}

.feature-image ul li img:hover {
    opacity: .9;
    transform: scale(1.03)
}

.clearfix {
    zoom: 1;
    content: '.';
    clear: both;
    display: block;
    height: 0
}

.feature-download {
    margin: 0;
    background-color: #daf2dd;
    padding-top: 1px;
    padding-bottom: 60px;
    color: #262626
}

.feature-download h1 {
    text-align: center;
    margin: 75px auto 0;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 220%;
    font-weight: 700
}

.feature-download .heading::after {
    display: block;
    content: " ";
    height: 4px;
    width: 130px;
    margin: 25px auto 60px;
    background-image: linear-gradient(to right, #005364 0, #008740 100%);
    border-radius: 70%
}

.download-content {
    display: flex;
    padding-bottom: 60px
}

.iphone-image {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left
}

.iphone-image img {
    width: 260px;
    height: auto;
    margin-left: auto;
    position: relative;
    left: 50px
}

.exp h1 {
    display: inline-block;
    padding: 0;
    margin: 0 30px 0 0;
    border: 2px solid green;
    width: 50px;
    border-radius: 50%;
    height: 50px
}

.num {
    display: inline-block
}

.exp p {
    display: inline-block;
    width: 50%
}

.download-button {
    width: 200px;
    height: auto
}

.exp-1 {
    margin-top: 50px
}

.exp {
    margin-bottom: 40px;
    overflow: auto;
    padding-bottom: 5px
}

.download-button-link {
    padding-top: 20px
}

.download-content-phone {
    display: none
}

@media (max-width:1406px) and (min-width:1000px) {
    .feature-download {
        padding-top: 1px;
        padding-bottom: 60px
    }

    .feature-download h1 {
        text-align: center;
        margin: 75px auto 25px;
        letter-spacing: 2px;
        word-spacing: 4px;
        font-size: 150%
    }

    .download-content {
        display: flex
    }

    .iphone-image {
        text-align: center;
        width: 50%;
        float: left;
        display: inline-block
    }

    .iphone-image img {
        width: 200px
    }

    .num {
        float: left;
        margin-right: 25px
    }

    .num h1 {
        margin: auto
    }

    .exp p {
        width: inline-block;
        width: 80%;
        font-size: 95%
    }

    .exp-1 {
        margin-top: 30px
    }

    .download-content-phone {
        display: none
    }
}

@media (max-width:1000px) and (min-width:800px) {
    .feature-download {
        padding-top: 1px
    }

    .feature-download h1 {
        text-align: center;
        margin: 59px auto 25px;
        letter-spacing: 2px;
        word-spacing: 4px;
        font-size: 150%
    }

    .download-content {
        display: flex
    }

    .iphone-image {
        width: 50%;
        float: left;
        display: inline-block
    }

    .iphone-image img {
        width: 180px;
        position: absolute;
        left: 8%
    }

    .num {
        float: left;
        margin-right: 25px
    }

    .num h1 {
        margin: auto
    }

    .exp p {
        width: 70%;
        font-size: 95%
    }

    .exp-1 {
        margin-top: 30px
    }

    .download-content-phone {
        display: none
    }
}

@media (max-width:800px) and (min-width:700px) {
    .feature-download {
        padding-top: 1px
    }

    .feature-download h1 {
        text-align: center;
        margin: 49px auto 25px;
        letter-spacing: 2px;
        word-spacing: 4px;
        font-size: 150%
    }

    .download-content {
        display: flex
    }

    .iphone-image {
        width: 50%;
        float: left;
        display: inline-block
    }

    .iphone-image img {
        width: 180px;
        position: absolute;
        left: 5%
    }

    .num {
        float: left;
        margin-right: 25px;
        margin-left: 30px
    }

    .num h1 {
        margin: auto
    }

    .exp p {
        width: 70%;
        font-size: 95%
    }

    .exp-1 {
        margin-top: 30px
    }

    .download-content-phone {
        display: none
    }
}

@media (max-width:700px) and (min-width:0px) {
    .feature-download {
        background-color: #daf2dd;
        padding-top: 1px
    }

    .feature-download h1 {
        margin-top: 49px;
        font-size: 110%
    }

    .feature-download .heading::after {
        margin-top: 25px;
        margin-bottom: 0
    }

    .download-content {
        display: none
    }

    .download-content-phone {
        display: inline-block;
        margin: 0;
        color: #262626
    }

    .iphone-image-phone {
        float: left;
        width: 48%;
        text-align: center
    }

    .iphone-image-phone img {
        width: 100%;
        margin: auto;
        padding-right: 0
    }

    .iphone-explaination-phone {
        display: inline-block;
        width: 52%;
        float: right
    }

    .download-button-phone {
        width: 80%;
        height: auto
    }

    .exp-phone {
        font-weight: 700;
        margin-top: 50px;
        font-size: 3.2vw;
        letter-spacing: 1px;
        line-height: 140%
    }

    .container-link-phone {
        margin-top: 50px
    }

    .today-outline {
        width: 35px;
        height: 35px;
        display: inline-block;
        float: left;
        margin: 30px 15px 5px auto
    }
}

.cities {
    padding-top: 1px;
    padding-bottom: 80px;
    color: #262626
}

.cities div {
    margin-top: 2px;
    margin-bottom: 3px
}

.cities h1 {
    text-align: center;
    margin: 75px auto 40px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 200%;
    font-weight: lighter
}

.cities h1::after {
    display: block;
    content: " ";
    height: 4px;
    width: 130px;
    margin: 25px auto 50px;
    background-image: linear-gradient(to right, #005364 0, #008740 100%);
    border-radius: 70%
}

.cities h2 {
    margin: 10px auto 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 150%;
    font-weight: lighter
}

.cities-discreption {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.cities-image {
    width: 250px;
    height: 160px;
    transition: transform .2s ease
}

.cities-image:hover {
    transform: scale(1.13)
}

.cd {
    font-size: 95%
}

.icon-cities {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    color: #ed8013;
    vertical-align: middle;
    margin-top: 1px
}

.cities a {
    text-decoration: none;
    color: #ed8013;
    transition: color .2s ease
}

.cities a:hover {
    color: #c26202
}

@media (max-width:1150px) and (min-width:850px) {
    .cities-discreption {
        justify-content: space-between
    }
}

@media (max-width:574px) and (min-width:0px) {
    .cities-discreption {
        display: block;
        margin: auto;
        padding: 1px
    }

    .cities h1 {
        font-size: 150%
    }

    .cd {
        width: 70%;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 auto 50px
    }

    .cities-image {
        width: 100%;
        height: auto
    }
}

.customer-testimonial {
    margin: 0;
    padding: 10px 10px 80px;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/pizza.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff
}

.customer-testimonial h1 {
    text-align: center;
    margin: 49px auto 40px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 200%;
    font-weight: lighter
}

.customer-testimonial h1::after {
    display: block;
    content: " ";
    height: 4px;
    width: 130px;
    margin: 35px auto 50px;
    background-image: linear-gradient(to right, #005364 0, #008740 100%);
    border-radius: 70%
}

.quotes-boxes {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    font-family: 'Comic Neue', cursive
}

.box {
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    text-align: justify;
    position: relative
}

blockquote {
    padding: 10px
}

blockquote::before {
    content: "\201C";
    color: #fff;
    font-size: 500%;
    font-family: sans-serif;
    display: block;
    position: absolute;
    margin: -50px auto auto -40px
}

.box img {
    width: 45px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px
}

cite {
    display: block;
    margin-top: 15px;
    float: right;
    font-family: verdana;
    font-weight: lighter;
    font-size: 80%
}

@media (max-width:1000px) and (min-width:705px) {
    .quotes-boxes {
        flex-wrap: wrap
    }
}

@media (max-width:705px) and (min-width:0px) {
    .quotes-boxes {
        display: block;
        padding: 10px
    }

    .box {
        width: 90%;
        min-width: 0;
        margin: auto;
        clear: both;
        margin-bottom: 40px;
        overflow: auto;
        padding-top: 50px
    }

    cite {
        margin-top: 0
    }

    blockquote {
        padding-bottom: 0
    }

    blockquote::before {
        margin: -50px auto auto 0
    }
}

.sign-up {
    background-color: #e8e8e8;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #262626
}

.sign-up .heading h1 {
    text-align: center;
    margin: 75px auto 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 200%;
    font-weight: lighter
}

.sign-up .heading h1::after {
    display: block;
    content: " ";
    height: 4px;
    width: 130px;
    margin: 25px auto 50px;
    background-image: linear-gradient(to right, #005364 0, #008740 100%);
    border-radius: 70%
}

.plans-row {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    margin: auto;
    margin-bottom: 100px
}

.plans-col {
    background-color: #fff;
    border-radius: 8px;
    width: 28%;
    min-width: 300px;
    transition: transform .3s ease
}

.plans-col:hover {
    transform: scale(1.07)
}

.plans-col h3 {
    font-size: 120%;
    font-weight: 100
}

.plan-below,
.plan-mid,
.plan-top {
    padding: 20px
}

.plan-mid,
.plan-top {
    border-bottom: 2px solid #f5f5f5
}

.plan-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fdfdfd
}

.plan-below {
    background-color: #fdfdfd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center
}

.price-tag {
    color: #ed8013;
    font-size: 300%;
    font-family: Inconsolata, monospace;
    margin-bottom: 15px;
    margin-top: 10px
}

.price-tag span {
    font-size: 30%
}

.plan-mid ul {
    list-style-type: none
}

.plan-mid ul li {
    overflow: auto
}

.plan-mid ion-icon {
    width: 30px;
    height: 30px;
    position: static;
    color: #ed8013
}

@media (max-width:1050px) and (min-width:800px) {
    .plans-row {
        width: 80%;
        padding: 50px;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .plans-col {
        margin-bottom: 40px
    }
}

@media (max-width:800px) and (min-width:650px) {
    .plans-row {
        width: 95%;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .plans-col {
        margin-bottom: 40px
    }
}

@media (max-width:650px) and (min-width:0px) {
    .plans-row {
        width: 90%;
        padding: 5%;
        display: block;
        align-content: center
    }

    .plans-col {
        display: inline-block;
        margin: auto;
        width: 80%;
        margin: auto auto 40px 10%
    }
}

.contact-us-form {
    background-size: cover;
    height: 100vh;
    position: relative
}

.contact-us-form-subdiv {
    height: 85vh;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    background-image: url(../images/signupfoodimage.jpg);
    background-size: cover;
    box-shadow: 0 3px 21px 13px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: #262626
}

.form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 21px 13px rgba(0, 0, 0, .4);
    width: 32%;
    height: 83%;
    min-width: 350px;
    margin-right: 100px
}

.form h3 {
    font-size: 200%;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    margin-top: 30px;
    color: #00b857;
    margin-bottom: 50px
}

.form-elem {
    margin-bottom: 25px
}

input[type=email],
input[type=text] {
    width: 80%;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-radius: 25px;
    border: 0 solid transparent;
    outline: 0;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10%
}

.form-contry-input,
.form-contryph-input,
.form-email-input,
.form-loc-input,
.form-name-input {
    transition: all .3s ease-in-out
}

.form-contry-input:hover,
.form-contryph-input:hover,
.form-email-input:hover,
.form-loc-input:hover,
.form-name-input:hover {
    box-shadow: 0 3px 10px 5px #00b85722
}

input::-webkit-input-placeholder {
    color: #ababab;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600
}

input::-moz-placeholder {
    color: #ababab;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600
}

input:-ms-input-placeholder {
    color: #ababab;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600
}

input::-ms-input-placeholder {
    color: #ababab;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600
}

input::placeholder {
    color: #ababab;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600
}

button {
    width: 80%;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-radius: 25px;
    border: 0 solid transparent;
    outline: 0;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10%
}

.form-elem p {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #00b857
}

.location {
    margin-bottom: 15px
}

.message-btn button {
    width: 80%;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #00b857;
    border-radius: 20px;
    border: 0 solid transparent;
    outline: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-left: 10%;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    vertical-align: middle;
    transition: all .3s ease-in-out
}

.message-btn ion-icon {
    width: 22px;
    height: 22px;
    margin: 0;
    float: none;
    margin-left: 10px;
    vertical-align: middle;
    color: #fff;
    transition: all .3s ease-in-out
}

.message-btn button:hover {
    background-color: #262626;
    cursor: pointer
}

.message-btn button:hover ion-icon {
    transform: translateX(10px)
}

.footer {
    background-color: #3d3d3d;
    padding-bottom: 30px;
    padding-top: 1px;
    font-family: Montserrat, sans-serif;
    font-size: 75%
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 24px;
    font-weight: 500
}

.footer-nav ul {
    list-style: none
}

.footer-nav ul a {
    text-decoration: none;
    color: #8f8f8f;
    vertical-align: middle
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 20px
}

.footer-nav ul li:last-child {
    margin-right: 0
}

.footer-nav-right ion-icon {
    width: 30px;
    height: 30px
}

.footer-text {
    display: flex;
    font-size: 90%;
    justify-content: center;
    margin-top: 30px;
    font-weight: 400
}

.footer-text ul {
    list-style: none
}

.footer-text ul li {
    display: inline-block;
    margin-right: 20px
}

.footer-text ul li:last-child {
    margin-left: 40px;
    margin-right: 0
}

.footer-text ul li a {
    text-decoration: none;
    color: #757575
}

.footer-text ul li:last-child {
    font-size: 90%;
    color: #707070;
    font-weight: 300
}

.footer a {
    transition: .3s ease-in-out
}

.footer a:hover {
    transform: translate(1.05);
    color: #d4d4d4
}

ion-icon {
    transition: all .3s ease-in-out
}

ion-icon.logo-facebook:hover {
    color: #4567b0;
    transform: scale(1.05)
}

ion-icon.logo-whatsapp:hover {
    color: #4fce5d;
    transform: scale(1.05)
}

ion-icon.logo-youtube:hover {
    color: #e62d27;
    transform: scale(1.05)
}

ion-icon.logo-twitter:hover {
    color: #0accee;
    transform: scale(1.05)
}

.flexbox-container {
    opacity: 0;
    animation: 2s
}

.flexbox-container.animate__fadeInUp {
    opacity: 1
}

.iphonejpg {
    opacity: 0;
    animation-duration: 5s
}

.iphonejpg.animate__bounceInLeft {
    opacity: 1
}

.cities-discreption {
    opacity: 0;
    animation: 2s
}

.cities-discreption.animate__fadeIn {
    opacity: 1
}